body{
    font-family: 'Heebo', sans-serif;
}

header {
    background-color: #BBBBBB; 
    padding: 20px 0; /* espaciamiento */
}

.caja{
    width: 940px;  /* es muy comun que las pantallas tengan 1280 px de formato ocupa el 70% en ese caso*/
    position: relative;
    margin: 0 auto;
}


nav {
    position: absolute; /* Con la position: absolute, yo puedo posicionar mi elemento en cualquier lugar de la página. */
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;     /* esta propiedad tiene 4 parametros, espaciamiento entre home, productos y contactos */
}

nav a{
    text-transform: uppercase; /* para poner el texto en mayúscula */
    color: #000000;
    font-weight: bold; /* para que no esten en negritas */
    font-size: 22px; 
    text-decoration: none;  /* para que no este subrayado */
}

nav a:hover{ /* el hover captura el movimiento del mouse */
    color: #c78c19;
    text-decoration: underline;
}

.productos {    /* estos son selectores, provienen de las clases */
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top; 
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;  
    border-radius: 10px; /* esquinas redondeadas */
}

.productos li:hover{
    border-color: #c78c19;
}

.productos li:active{
    border-color: #088c19;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripción {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin: top 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.Copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

form{
    margin: 40px 0;
}

form label,form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{ /* configuracion de boton de enviar */
    width: 40%;
    padding:15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkgoldenrod;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*CCS PARA HOME*/
.banner{
    width: 100%;
}

/* main > p{  /* con el signo mayor le pedimos que solo seleccione parrafos hijos del main, igual se usa img + p (primer parrafo despues de la imagen, img - p (todos los parrafos despues de la imagen */
/* .principal p:not(mission)   /* aplica los colores en los parrafos, menos en el seleccionado, en este caso el segundo parrafo */
    
.principal{
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em; /* (2em) 2 veces el tamaño por defecto del navegador */
    margin: 0 0 1em;
    clear: left;
    /* text-shadow: 2px 2px red;  efecto para los titulos */ 
   /*  color: rgba(0,0,0,30%); */
/* el 4to parámetro es la opacidad */
}

/* .titulo-principal::first-letter{
    font-weight: bold;
}

p:first-line{
    font-style: italic;
}                                    ESTOS SON PSEUDO ELEMENTOS

.titulo-principal:before{
    content: "{";
}

.titulo-principal:after{
    content: "}";
} */

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left; /* Tanto el float:left como el float: right sirven para que el elemento se destaque en la pantalla, la superficie del elemento continúa siendo utilizada y los otros elementos de texto o elementos en línea se posicionan alrededor de él. */
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888); /* se puede cambiar de posicion colocando #grados 45deg antes de los colores, se puede poner el % que quieres que ocupe el color un espacio despues del color,   */
  /*   background: radial-gradient() por si se quiere difuminar en forma circular*/
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: #888888;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}


.items:before{
    content: "★";
}

.items:first-child{ /* para agregarle solo al primer item o al que queramos de la lista cualquier cosa se puede poner entre () la posicion de lo que queramos seleccionar (3)*/
    font-weight: bold;
}

.imagen-diferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000000; /* buscar parámetros */
    
}

.imagen-diferenciales:hover{
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 1em auto;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video {
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }
}
